:root {
  --background-color-main: hsl(60, 15%, 88%);
  --box-shadow-main: 7px 4px 4px hsl(0, 1%, 48%);
  --box-shadow-secondary: 4px 3px 3px hsl(0, 1%, 48%);
  --card-bg-color: hsl(60, 45%, 78%);
  --card-bg-color-secondary: hsl(60, 59%, 75%);
}

a:hover {
  cursor: pointer;
}

body {
  background-color: var(--background-color-main);
  color: hsl(0, 4%, 14%);
  font-size: 1rem;
}

button,
.btn {
  box-shadow: var(--box-shadow-secondary);
  height: 40px;
  margin: 5px;
}

button:hover {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

input {
  margin: 3px;
}

label {
  font-weight: bold;
}

ul {
  list-style: none;
}

nav ul li {
  margin: 1.2rem;
}

nav ul li a {
  font-size: 1.3rem !important;
}

nav ul li a:hover {
  font-weight: bold;
}